		<ul class="list">
			<script type="text/x-template" data-force-refresh="true">
			<% Terrace.iterate(binding, function(e, i, t) { %>
				<li id="">{{= e.name }}</li>
			<% }); %>
			</script>
		</ul>

		<div 	id				= "adder"
				class			= "bits ui"
				data-controller	= "adder/input.js"
				data-view		= "adder/input.template"
				data-binding	= "parent|*"
				data-events		= "click"
		></div>