<script type="text/x-template">

<p>
	<form method="POST" action="">
		<div class="bits generic" data-events="click">
		Username: <input type="text" class="username" name="username" /><br />
		</div>
		Password: <input type="text" class="password" name="password" /><br />
	</form>
		<button class="submit">Log In</button>
</p>

<p class="message"></p>

<br />
<br />

<button id="dummy">Dummy</button>

</script>