<div style ="font-family: BevanRegular; font-size:20px;">BevanRegular</div>
<div style ="font-family: DroidSerifRegular; font-size:20px;">DroidSerifRegular</div>
<div style ="font-family: LiberationSansRegular; font-size:20px;">LiberationSansRegular</div>